*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F6FAFF;
}
.calculator{
  width: 300px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 20px 0px;
  text-align: center;
}
h2{
  margin-bottom: 20px;
  text-align: center;
}
label{
  margin-bottom: 10px;
  font-size: 20px;
}
input{
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
}
.box::placeholder{
  font-size: 17px;
}
.box{
  font-size: 17px;
}
button{
  font-size: 17px;
  width: 120px;
  height: 30px;
}
p{
  margin-top: 10px;
  font-size: 20px;
}